BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: true
IncludeBlocks: Regroup
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Never
NamespaceIndentation: All
FixNamespaceComments: true
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtEOF: true
